<div class="jumbotron lab">
	<div class="lab-text"></div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-3">
			<h3>Multimeter</h3>
			<p>You need a multimeter that can measure ac and dc voltage, dc current and resistance. Ones that measure ac current, frequency and/or capacitance can be useful in the long run, but are not required for the course. A good multimeter costs $40-50, and you can spend more if you want to. You might be able to scrape by under $20 with the piece of junk special.</p>

			<h3>Breadboard</h3>
			<p>Typically a piece of white plastic with lots of tiny little holes in it. You stick wires and component leads into the holes to make circuits. Some of the holes are already electrically connected with each other. The holes are 0.1 inch apart, which is the standard spacing for leads on integrated circuit dual in-line packages. You will test the connections in this lab.</p>

			<h3>Wire Kit</h3>
			<p>This kit contains assorted lengths of pre-stripped wire. (Stripping means removing the insulation from an end of a wire.) Working with pre-cut and pre-stripped wire is much, much easier than cutting and stripping your own wire. Purchase from EE stores.</p>
		</div>
		<div class="col-lg-9">
			<h3>Introduction to Circuit Analysis</h3>
			<p>The circuits covered in this laboratory are the beginning basics of an area of electrical engineering called Electronic Circuits, Devices and Transducers at UW. You can find a summary of this area of specialization within electrical engineering in your supplemental notes for the EENG 2610 course. The notes are part of your reading assignment. Later labs will touch on some of the other areas of specialization.</p>
			<h4>At the end of this lab you will be able to:</h4>
			<ul>
				<li>check continuity with a multimeter</li>
				<li>describe breadboard internal connections</li>
				<li>create circuits using breadboard connections</li>
				<li>measure dc voltage, current and resistance using a multimeter</li>
				<li>calculate resistance from dc voltage and current measurements</li>
				<li>validate voltage divider calculations by experiment</li>
				<li>plot voltage-current relationships for non-linear devices</li>
			</ul>
			<img class="img-responsive img-thumbnail" src="css/img/breadboard1.JPG" width="600" height="300">
		</div>
	</div>
</div>


