<div class="jumbotron main">
        <h1>Nation Library</h1>
        <p class="lead">Find out your way through our Library</p>
       
</div>

      <!-- Example row of columns -->
     
     <div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
          <h2>Up coming Events</h2>
          <h4>Client Services Computer Lab</h4> 
          <p>7:00am-10:00pm </p>

          <h4>Technology Help Desk</h4> 
          <p>6:00am-8:00pm </p>

          <h4>Interlibrary Loan</h4> 
          <p>8:00am-5:00pm </p>

          <h2>Latest Blogs</h2>
          <h3>Now See Hear!</h3>
          <p>Find out about the outstanding collections of moving images and sound recordings at the Library's National Audio Visual Conservation Center. Now See Hear! provides news of collections, acquisitions, projects, preservation, public programs, and much more.</p>
          <h3>Folklife Today</h3>
          <p>Fascinating stories and topics from a team of specialists in the Nation Library, one of the world's largest archives on traditional folk culture..</p>
        </div>
        <div class="col-lg-9">
          <h2>Welcome to Nation Library</h2>
          <p>Our vision today is the same as it was then, to change the world of library automation by providing the easy to learn and easy to use outstanding library software. The only difference is that we can bring the price even lower by putting everything in the Cloud. Over 3,500 libraries from around the world, in every state of the Union and over 40 countries, use our service to manage their collections.</p>
          <div class="row">
            <div class="col-lg-6">
            <h2>Poetry &amp Literature</h2>
            <h3>July 12th, 2016</h3>
            <p>Notifications of upcoming readings, presentations, symposia, guidelines and other poetry and literature activities at the Nation Library </p>
            
            </div>
            <div class="col-lg-6">
              <h2>Library invests in a new Circuit Analysis Lab</h2>
            <h3>July 20th, 2016</h3>
            <p>Library will have new circuit analysis lab, where students get hands on experience working with PCBs </p>
            
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <h2>Law Library</h2>
            <h3>August 12th, 2016</h3>
            <p>The latest news and upcoming events from the Nation Library are available at Nation Library</p>
            
            </div>
            <div class="col-lg-6">
            <h2>Law Library</h2>
            <h3>August 12th, 2016</h3>
            <p>The latest news and upcoming events from the Nation Library are available at Nation Library</p>
            
            </div>
          </div>
        </div>
    </div>
</div>
