<div class="container-fluid">
	<div class="row">
		<div class="col-lg-3">
		<h2>Jobs at Libraries</h2>
		<p>Apply for your required jobs on indeed to have a better future in Library science</p>
			
		</div>
		<h2>Testimonials</h2>
		<div class="col-lg-9 dep-aside" ng-repeat="book in nc.books">
			<div class="row">
				<div class="col-lg-7">
					<!-- list of details -->
					<ul>
						<li><strong>Author: </strong>{{book.author}}</li>
						<li><strong>Publication Info: </strong>{{book.publicationinfo}}</li>
						<li><strong>Edition: </strong>{{book.edition}}</li>
						<li><strong>Series: </strong>{{book.series}}</li>
						<li><strong>Related works: </strong>{{book.relatedworks}}</li>
					</ul>
				</div>
				<div class="col-lg-5">
					<!-- image of book -->
					<img class="img-responsive img-thumbnail" ng-src="{{book.cover}}" width="150" height="120" style="float: right;">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p><strong>Summary: </strong>{{book.summary}}</p>
				</div>
			</div>
		</div>
	</div>
</div>